/*      Customer New     */
*{
    margin: 0;
    padding: 0;
    /* font-family: "montserrat",sans-serif; */
    /* font-family: 'Sriracha', cursive; */
}
.contact-section{
    margin-top: 180px;   /*เลื่อนลงจากด้านบน*/
    /* background: url(images/indexfish2.jpg) no-repeat center; */
    background-size: cover;
    padding: 40px 0;                            /*พื้นหลังกว้างขึ้น เลื่อนลง*/
    background: #533838;
}
.contact-section h3{
    text-align: center;
    /* color: #000000; */
    color: #FFC312;
    /* font-family: 'Sriracha', cursive; */
}
.contact-section h4{
    text-align: center;
    /* color: #000000; */
    color: #FFC312;
    /* font-family: 'Sriracha', cursive; */
}
.border-form{                    /*เส้นใต้หัวข้อ ฟอร์ม*/
    width: 300px;
    height: 7px;
    background: #FFC312;    /* #34495e */
    margin: 15px auto; 
}
.border-forms{                    /*เส้นใต้หัวข้อ ฟอร์ม*/
    width: 1000px;
    height: 5px;
    background: #FFC312;    /* #34495e */
    margin: 15px auto; 
}
.contact-form{
    max-width: 1000px;
    /* max-width: 600px; */
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form .lb{
    color: #FFC312;
}
.contact-form-text{             /*ช่องป้อนข้อมูล*/
    display: block;             /*ช่องป้อนข้อมูล แสดงเป็น Block แต่ล่ะบรรทัด*/
    width: 100%;                /*ความยาวของ Block ช้อนข้อมูล แต่ล่ะบรรทัด*/
    box-sizing: border-box;
    margin: 14px 0;
    border: 0;
    background: #ffffff;
    padding: 14px 30px;
    outline: none;
    color: #000000;
    transition: 0.5s; 
    border-radius: 8px;         /*ขอบของกรอบเทา Login มุมป็นรี*/
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #FFC312;
}
textarea.contact-form-text{
    resize: none;               /* กล่อง textarea ไม่สามารถขยายขนาดด้วยตัวเองได้ */
    height: 120px;              /* กำหนดความสูงของกล่อง textarea */
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #636e72;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;    /*การทำให้มุมของกรอบเป็นรีๆ*/
    cursor: pointer;        /*การทำให้ลูกศรชี้ปกติ กลายเป็นลูกมือชี้แทน */
    transition: 0.5s;
}
.contact-form-btn:hover{       /*หลังการกดปุ่ม*/
    background: #FFC312;
}

/*    ส่วนของ Edit    */
.triangle {
    padding-top: 12px;
    width: 100px;
    height: 50px;
    border: 1px solid white; /* ใส่เส้นขอบแบบทึบสีดำขนาด 1px */
    background-color: white; 
    text-align: center;
    border-radius: 10px;
}
/*   จบ ส่วนของ Edit    */
